input{
    border-radius: 5px;
    height: 25px;
}
li{
    list-style: none;
}
html{
    font-family:sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
                                    /* menu */
                                /* body */
.them-nhap-xuat{
    margin: auto;
    display: block;
    width: 1000px;
}
.them{
    text-align:right;
    padding: auto;
    margin:auto;
}
.xuat{
    text-align:right;
    padding: auto;
    margin:auto;
}
.nhap{
    text-align:right;
    padding: auto;
    margin:auto;
}
.body{
    padding-top: 150px;
    background-color: #f4f4f4;
    text-align: center;
    min-height: 500px;
}
.container{
    border: 1px black;
}
.container>table{
    text-align: center;
    margin: auto;
    padding: auto;
    border:#1a1c20 solid .5px;
}
                                    /* footer */
footer{
    background-color:black;
}
.footer{
    border-top:solid 40px #CF7500;
    background-color: #1a1c20;
    color: #f4f4f4;
    height: fit-content;
    position: sticky;
    bottom: 0;
}
.left{
    width: 50%;
    text-align: center;
    margin: 0;
    display: inline-block;
}
.right{
    width: 50%;
    text-align: center;
    margin: 0;
    display: inline-block;
    float:right;
}
.logo-footer{
    padding-top: 5px;
    height: 160px;
}
