input{
    border-radius: 5px;
    height: 25px;
}
li{
    list-style: none;
}
html{
    font-family:sans-serif;
}
textarea{
    border-radius: 5px;
}
input[type="number"] {
    -moz-appearance: textfield;
}
                                    /* menu */
                                /* body */
.body{
    padding-top: 150px;
    background-color: #f4f4f4;
    min-height: 250px;
}
.container{
    border: 1px black;
    text-align:center;
}
.container>table{
    margin: auto;
    padding: auto;
}
.form{
    margin: 10px;
    text-align:left;
    margin-left: 40%;
    margin-right:40%;
    width: auto;
    background-color: pink;
    border-radius: 25px;
}
.title{
    padding: 5px;
}
.form>a{
    margin: 5px;
}
.form>input{
    margin: 5px;
    width: 300px;
}
.form>textarea{
    margin: 5%;
    height: 100px;
    width: 90%;
}
.form>input[type="submit"]{
    margin-left: 160px;
    width: 100px;
}
.form>input[type="submit"]:hover{
    cursor: pointer;
}
.form>input[type="reset"]{
    width: 100px;
}
.form>input[type="reset"]:hover{
    cursor: pointer;
}
.tensanpham{
    padding-top: 5%;
    height: 30px;
    text-align: left;
    margin: 5%;
    font-size: 25px;
    max-width: 100%;
}
.giatien{
    height: 30px;
    text-align: left;
    color: red;
    margin:5%;
    font-size: 25px;
    max-width: 100%;
    padding-bottom: 0;
}
.anh{
    width: 160px;
    height: 160px;
    margin: 0 5%;
    padding: 5%;
    border-radius: 5%;
    background-color: white;
}
.mota{
    min-height: 100px;
    text-align: left;
    color: red;
    margin:5%;
    font-size: 20px;
    max-width: 100%;
}
                                    /* footer */
footer{
    background-color:black;
}
.footer{
    border-top:solid 40px #CF7500;
    background-color: #1a1c20;
    color: #f4f4f4;
    height: fit-content;
    position: sticky;
    bottom: 0;
}
.left{
    width: 50%;
    text-align: center;
    margin: 0;
    display: inline-block;
}
.right{
    width: 50%;
    text-align: center;
    margin: 0;
    display: inline-block;
    float:right;
}
.logo-footer{
    padding-top: 5px;
    height: 160px;
}