.right-nav{
    display: none;
}
input{
    border-radius: 5px;
    height: 25px;
}
li{
    list-style: none;
}
html{
    font-family:sans-serif;
}
textarea{
    border-radius: 5px;
}
input[type="number"] {
    -moz-appearance: textfield;
}
                                    /* menu */
                                /* body */
.body{
    padding-top: 150px;
    background-color: #f4f4f4;
    min-height: 500px;
}
.container{
    border: 1px black;
    text-align:center;
}
.container>table{
    margin: auto;
    padding: auto;
}
.form{
    margin: 10px;
    text-align:left;
}
.title{
    padding: 5px;
}
.form>a{
    margin: 5px;
}
.form>input{
    margin: 5px;
    width: 300px;
}
.form>textarea{
    margin: 5px;
    height: 100px;
    width: 500px;
    padding-left: 5px;
}
.form>input[type="submit"]{
    margin-left: 160px;
    width: 100px;
}
.form>input[type="submit"]:hover{
    cursor: pointer;
}
.form>input[type="reset"]{
    width: 100px;
}
.form>input[type="reset"]:hover{
    cursor: pointer;
}
.so_luong{
    width: 50px;
}
.giohang{
    background-color: palegreen;
    border-radius: 50px;
    margin-left: 30%;
    width: 750px;
    margin-bottom: 50px;
}
.table{
}
.form{
    margin: 0 auto;
}
.right-nav{
    display: none;
}
.sdt{
    width:200px;
    margin:10px 0;
}
.diachi{
    width:500px;
    margin:10px 0;
}
.kcgh{
    padding-bottom:20px;
}
.bentrai{
    text-align: left;
    margin:10px 0;
    padding: 20px 0;
}
.chitiettrai{
    font-weight: bold;
    margin: 20px 15px;
    font-size: 22px;
    max-width: 200px;
    height: auto;
    display: inline-block;
}
.chitiettrai2{
    font-weight: bold;
    margin: 20px 15px;
    padding-left: 100px;
    font-size: 22px;
    max-width: 250px;
    height: auto;
    display: inline-block;
}
.chitietphai{
    font-weight: bold;
    margin: 20px 5px;
    font-size: 25px;
    max-width: 300px;
    height: auto;
    display: inline-block;
}
.formmatkhau{
    padding-left: 35%;
}
.form-login{
    margin: auto;
    padding: 10px;
    width: 500px;
    border: 1px solid #f0a500;
    border-radius: 10px;
}
.formdangki{
    margin: auto;
    width: 600px;
}
.hoten{
    height: 30px;
    width: 300px;
    font-size: 25px;
    margin-left:44px;
}
.sdt{
    height: 30px;
    width: 300px;
    font-size: 25px;
    margin-left: 6px;
}
.diachi{
    height: 30px;
    width: 300px;
    font-size: 25px;
    margin-left: 71px;
}
.xacnhan{
    width: 15   0px;
    height: 50px;
    border-radius: 5px;
    margin-left: 20%;
    font-size: 30px;
}
.xacnhan:hover{
    cursor: pointer;
    background-color: #f0a500;
}
                                    /* footer */
footer{
    background-color:black;
}
.footer{
    border-top:solid 40px #CF7500;
    background-color: #1a1c20;
    color: #f4f4f4;
    height: fit-content;
    position: sticky;
    bottom: 0;
}
.left{
    width: 50%;
    text-align: center;
    margin: 0;
    display: inline-block;
}
.right{
    width: 50%;
    text-align: center;
    margin: 0;
    display: inline-block;
    float:right;
}
.logo-footer{
    padding-top: 5px;
    height: 160px;
}
